*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #f76f6c;
}

body {
  background-image: url("/src/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: black;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  color: #f5353b;
  text-decoration: inherit;
  cursor: pointer;
}

h1:hover {
  color: #f76f6c;
}

h2 {
  color: #f5353b;
  font-size: 1.5em;
  font-weight: 800;
  text-decoration: inherit;
}

h2 a:hover {
  color: #f76f6c;
}

a:hover h2 {
  color: #f76f6c;
}
a:hover img {
  opacity: 0.8;
}

h3 {
  margin: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 2px solid;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: inherit;
  text-decoration: none;
  color: white;
  background-color: #f76f6c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fbd3b7;
  transform: translateY(-4px);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
